<div class="row">
    <h1>Registration Numbers</h1>

    <div class="message"></div>

    {{#if message}}
    <div class="">{{message}}</div>
    {{else}}
    <div class="">
        <p class='flash'> {{messages.error}}</p>
    </div>
    {{/if}}

    <div class="textboxName">
        <form action="reg_numbers" method="POST">
            <strong>Registration Number: </strong>
            <input type="text" name="regNumber" class="regNum" placeholder="eg: CAA 123-321">
            <button type="submit" class="add">Add</button>
    </div>

    <br>

    <div class="filter">
        <strong>Filter by towns: </strong>
        <input type="radio" name="town" value="Select All">Select All
        <input type="radio" name="town" value="CA">Cape Town
        <input type="radio" name="town" value="CJ">Paarl
        <input type="radio" name="town" value="CY">Bellville
        <button type="submit" class="Show">Show</button>
    </div>

    </form>

    <hr>

    {{!-- <div class="reg">
				<!-- <i>Reg numbers to be added here...</i> -->

			</div> --}}

    <div class="">
        {{#each theNumbers}}
        <ul class="reg">
            {{this.reg}}
        </ul>
        {{/each}}
    </div>

    <br>
<form action="/reset" method="GET">
     <div>
        <a href="/reset"></a>
        <button type="submit" class="reset">Reset</button>
    </div>
</form>
   

</div>