<div class="row">
    <h1>Registration Numbers</h1>

    <div class="message"></div>

    {{#if message}}
    <div class="">{{message}}</div>
    {{else}}
    <div class="">
        <p class='flash'> {{messages.error}}</p>
    </div>
    {{/if}}

    <div class="textboxName">
        <form action="reg_numbers" method="POST">
            <strong>Registration Number: </strong>
            <input type="text" name="regNumber" class="regNum" placeholder="eg: CAA 123-321">
    </div>

    <br>

    <div>
        <button type="submit" class="add">Add</button>
    </div>

    <div class="">
        {{#each theNumbers}}
        <li>
            {{this.reg}}
        </li>
        {{/each}}
    </div>

    <br>

    <div class="radioGreet">
        <input type="radio" name="town" value="Select All">Select All
        <input type="radio" name="town" value="Cape Town">Cape Town
        <input type="radio" name="town" value="Paarl">Paarl
        <input type="radio" name="town" value="Bellville">Bellville

    </div>

    <br>

    <div>
        <button type="submit" class="Show">Show</button>
    </div>

    </form>

    <br>

    <div>
        <a href="/reset"></a>
        <button type="submit" class="rest">Reset</button>
    </div>

</div>